<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet"  href="/style.css">
  <title>メモアプリ</title>
</head>
<body>
  <h1><a href="/memos">メモアプリ</a></h1>
  <%= yield %>
</body>
</html>
