<% @memos.each do |memo| %>
  <ul>
    <li><a href="/memos/<%= memo["id"] %>"><%= h(memo["title"]) %></a><br></li>
  </ul>
<% end %>
<form method="GET" action="/memos/new">
  <input type="submit" value="追加" class="button">
</form>
