<form action="/memos" method="POST">
  <p>タイトル</p>
  <input type="text" name="title" required="required">
  <p>メモ内容</P>
  <textarea name="memo" rows=5 required="required"></textarea><br>
  <input type="submit" value="保存">
</form>
